body {
  font-family: "poppins", sans-serif;
  background: #ececec;
}
.side-img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
#login-text {
  font-size: 30px;
  font-weight: 500;
}
